<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%system.python.exe%" arguments="%home%\site\wwwroot\app.py" stdoutLogEnabled="true" startupTimeLimit="60" />
  </system.webServer>
</configuration>
